@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
}
body {
  overflow-x: hidden;
}
li{
  color: rgb(201, 201, 201);
  cursor: pointer;
  transition: all;
  transition-duration: 1;  
  list-style: none;
}
li:hover{
  color: rgba(248, 195, 146, 0.904);
}

